/* frontpage */
html, body {
    height: 100%;
    width: 100%;
}
body {
    background: url("../images/bg_body.jpg") repeat scroll 0 0 #E0E1E3;
    position: relative;
}
.fp_logo {
    margin: 0 auto;
    height: 100%;
    width: 216px;
    text-align: center;
    position: relative;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.fp_logo .inner {
    position: absolute;
    top: 38%;
    left: 0;
    /*border: 1px solid blue;*/
}
.fp_logo .inner .logo_big {
    background: transparent url("../images/logo_big.png") no-repeat center center;
    width: 216px;
    height: 68px;
    position: relative;
    top: -38%;
    /*border: 1px solid yellow;*/
}
.fp_login {
    background: #fff;
    #background: transparent url("../images/bg_fp_login.gif") no-repeat center center;
    position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 20px;
    width: 200px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.index_loginModel_submit {
    background: transparent url("../images/icon_sp.gif") no-repeat -100px -100px;
    width: 50px;
    _width: 52px;
    height: 26px;
    _height: 28px;
    line-height: 26px;
    _line-height: 28px;
    padding: 0;
}
