/*{{{ reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,div{margin:0;padding:0;}body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;}h1,h2,h3,h4,h5,h6{font-size:100%;}address,cite,dfn,em,var{font-style:normal;}code,kbd,pre,samp{font-family:courier new,courier,monospace;}small{font-size:12px;}ul,ol{list-style:none;}a{text-decoration:none;}a:hover{text-decoration:underline;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}legend{color:#000;}fieldset,img{border:0;}button,input,select,textarea{font-size:100%;}table{border-collapse:collapse;border-spacing:0;}
/*}}}*/


/* base {{{ 
------------------*/
body {
    background: url("../images/bg_body.jpg") repeat scroll 0 0 #F2EFE9;
    color: #666;
}

a:link { color: #0063DC; text-decoration: none; }
a:visited { color: #0063DC;/*change it*/ text-decoration: none; }
a:hover { color: #d93939; text-decoration: none; }
a:active { color: #d93939; text-decoration: none;}

h1,h2,h3,h4,h5,h6 {}
h3 {font-size: 12px;}

em {color:red;}

/* clear both */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { zoom: 1; display: inline-block; _height: 1px }
*html .clearfix { height: 1% }
*+html .clearfix { height: 1% }
.clearfix { display: block }
/*}}}*/

/* Helper {{{ 
-----------------*/
.m0 { margin: 0; }
.mr0 { margin-right: 0; }
.mr2 { margin-right: 2px; }
.mr5 { margin-right: 5px; }
.ml5 { margin-left: 5px; }
.mb5 { margin-bottom: 5px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.ml10 { margin-left: 10px; }
.mb10 { margin-bottom: 10px; }
.mt10 { margin-top: 10px; }

.fright { float: right; }
.fleft { float: left; }

.pRelative { position: relative; }
.pRight { position: absolute; right: 5px; top:0; }

.aRight { text-align: right; }
.aCenter { text-align: center; }

.getMore { float: right; padding-right: 5px; }

.hide { display: none; }
/*}}}*/

/* Share style {{{ 
-------------------------*/
.strong_1 { color: #649ac8; }
.strong_2 { color: #ff3402; }
.strong_3 { color: #33cc00; }

/* button */
.btn {
    -moz-border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    background: -moz-linear-gradient(100% 100% 90deg, #047BB7, #01B4FE) repeat scroll 0 0 transparent;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin: 3px 0 0;
    padding: 5px 8px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3) !important;
    text-transform: lowercase !important;
}
.btn:hover {
    background: -moz-linear-gradient(100% 100% 90deg, #01B4FE, #08ACFD) repeat scroll 0 0 transparent;
}
.btn.sidebig {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 13px;
    padding: 8px 0;
    text-align: center;
    width: 100%;
}

/* newBtns */
.newBtns { display: inline-block; background: #fff url("../images/bg_btns_1x20.gif") repeat-x; border: 1px solid #cecece; cursor: pointer; font-size: 12px; }
.newBtns:link, .newBtns:visited { color: #000; }
.newBtns:hover { background-image: url("../images/bg_btns_1x20_hover.gif"); }
.newBtns:active { color: #000; } 
.newBtns span { display: block; _display: inline-block; height: 20px; _height: 18px; line-height: 20px; overflow: hidden; border: 1px solid #fff; padding: 0 5px; _padding-top: 2px; }
.newBtns img { vertical-align: middle; margin-right: 2px; }

/* title */
.formTitle {
   color: #6F6F6F;
   font-size: 14px;
   line-height: 25px;
   margin-bottom: 20px;
}

/* icon */
.icon_loading_small {
	display: inline-block;
	text-indent: -9000px; /* hide text */
}
.icon_loading_small {
	background: url("../images/icon_loading.gif") no-repeat;
	width: 16px;
	height: 16px;
}

/*}}}*/

/* Layout {{{ 
-------------------------*/
#wrapper {
}
#header .inner,
#content .inner,
#footer .inner {
    position: relative;
    width: 950px; /* 页面宽 */
    margin: 0 auto;
}
.aside, .article {
    margin-top: 28px;
    _height: 500px;
}
#content {
    min-height: 500px;
    _height: 500px;
    padding: 30px 0;
}
/*}}}*/
 
/* header + footer {{{
--------------------------*/
/* header */
#header {
    background: url("../images/bg_header.png") repeat-x scroll -50% 0 transparent;
}
#header .inner {
    height: 44px;
    line-height: 44px;
}
#stripe {
    background: url("../images/bg_stripe2.png") repeat-x scroll -200% 0 #089CC8;
    height: 4px;
    width: 100%;
}

#header ul.user_info {
    color: #999999;
    position: absolute;
    right:4px;
}
#header ul.user_info li {
    display: inline;
}
#header ul.user_info li a {
    color:#E8E8E8;
    font-size: 12px;
    text-decoration: none;
}
#header ul.user_info li a:hover{text-decoration:underline;}
#header ul.menu li a {
    color: #FFFFFF;
    display: inline-block;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    padding: 19px 15px;
    text-decoration: none;
}
#header .title span {
    background: url("../images/chonglogo.png") no-repeat scroll 0 0 transparent;
    height: 44px;
    left: -9px;
    position: absolute;
    text-indent: -2000px;
    top: 0;
    width: 163px;
}

#notice {
	margin: 0 auto;
	width: 400px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}
#notice.active {
}

/* footer */
#footer {
}
#footer .inner {
    border-top: 1px solid #CCC;
    padding-top: 10px;
    color: #666;
}
#footer .copyright {
    font-size: 12px;
    float: left;
    width: 300px;
}
#footer a:link,
#footer a:visited {
    color: #666;
}	
#footer a:hover,
#footer a:active {
    color: #08ADFF;
}
#footer .links {
    margin-left: 10px;
    float: right;
    text-align: right;
    width: 200px;
}
#footer .links a {
    margin: 0 5px;
}
/*}}}*/

/* content */
div.content {
    float: left;
    width: 660px;
}
.content h3{margin:15px 0px 20px 10px;}
p.pages {
    margin: 0 20px; 20px;
    text-align: right;
}
p.pages strong {
    background: none repeat scroll 0 0 #FE4640;
    border: 1px solid #FE4640;
    color: #FFFFFF;
}
p.pages strong, #content p.pages a {
    -moz-border-radius: 4px 4px 4px 4px;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    padding: 2px 6px;
	font-size:14px;
}
#content p.pages a:hover {
    background: none repeat scroll 0 0 #FE5A54;
    border: 1px solid #FE5A54;
    color: #FFFFFF;
}
.book_list1 li p{line-height:20px;} 
.index_introModel {
/*    border-bottom: 1px solid #EDEDED;*/
    margin-bottom: 10px;
    padding: 30px 20px 20px;
}
.index_introModel_pic {
    float: left;
    height: 387px;
    margin-right: 30px;
    width: 240px;
}
.index_introModel_logo {
    height: 41px;
    margin: 10px 0 20px;
    width: 116px;
}
.index_introModel_text {
    color: #484847;
    font-family: "Hiragino Sans GB";
    font-size: 14px;
    line-height: 30px;
}
.price{color:#CC3300;font-weight:bold;}

div.sidebar {
    float: right;
    width: 270px;
}

.index_loginModel_header {
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 20px;
    position: relative;
}

div.content_box h3 {
    font-size: 14px;
    font-weight: bold;
}

#content .index_loginModel_header a {
    color: #999999;
    position: absolute;
    right: 20px;
    top: 11px;
}

.index_loginModel_middle {
    padding: 15px 20px 30px 10px;
}

/*.index_loginModel_email {
    background: url("../images/index_loginModel_email.png") no-repeat scroll 0 0 transparent;
}

.index_loginModel_password {
    background: url("../images/index_loginModel_password.png") no-repeat scroll 0 0 transparent;
}
*/
.index_loginModel_email input, .index_loginModel_password input {
   /* background: none repeat scroll 0 0 transparent;*/
   /*  border: medium none;*/
   /* left: 34px;*/
    padding: 2px 2px 3px 2px;
	font-size:14px;
    position: absolute;
    top: 1px;
    width: 162px;
}
.userlogin{
	width:60px;
	float:left;
	padding-top:7px;
	text-align:right;
	}

.index_loginModel_remember {
	margin-top:5px;
	width:140px;
	float:left;
	padding-left:10px;
}
.index_loginModel_rememberme{margin-left:10px;font-size:12px;padding-bottom:20px;}
.index_loginModel_email, .index_loginModel_password {
    height: 30px;
    margin-bottom: 12px;
    position: relative;
    width: 199px;
}
#content .index_loginModel_submit {
    background: none repeat scroll 0 0 #3B8EDB;
    float: right;
	margin-right:10px;
}

.index_loginModel_footer {
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    background: none repeat scroll 0 0 #58636A;
    padding: 15px 20px;
}
.index_loginfrom{
	width:270px;
	height:155px;
	}
.index_loginModel_footer a{
    color: #FFFFFF !important;
    font-size: 14px;
}

div.blog_post_list {
    padding: 15px 20px;
}

div.content_box {
    -moz-border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C9CACD;
    margin-bottom: 20px;
}

div.content_box h3 {
    font-size: 14px;
    font-weight: bold;
}

div.blog_post_list ul {
    margin: 10px 0;
}

ol, ul {
    list-style: none outside none;
}

div.blog_post_list ul li {
    color: #B2B2B2;
    line-height: 24px;
    list-style: disc inside none;
}
#content .button {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 0 #FFFFFF;
	font-size:14px;
    background: none repeat scroll 0 0 #3B8EDB;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    padding: 3px 11px;
}

/*list*/

.contentBox_tabNav{
  font-size:14px;
  padding:10px 15px 10px 0;
  background: #F6F5F3;
  -moz-border-radius-topleft:6px;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topright:6px;
  -webkit-border-top-right-radius:6px;
  border-bottom:1px solid #DCDCDC;
  position:relative;
}


#content a.contentBox_tabNav_tab.first {
    -moz-border-radius-topleft: 6px;
}

#content a.contentBox_tabNav_tab.current {
    background: none repeat scroll 0 0 #FFFFFF;
    padding-bottom: 11px;
}

#content a.contentBox_tabNav_tab {
    border-right: 1px solid #DCDCDC;
    padding: 10px 15px;
}

#content .contentBox_tabNav a {
    color: #8D8D8D;
}

.book_list1 {
    padding: 10px 0px 30px 33px;
    position: relative;
}



.book_list1 ul li {
    float: left;
    margin-right: 22px;
	margin-top:10px;
	height:250px;
	width:131px;
}
.book_list1 ul li a{
	height:160px;
	width:131px;
	display:block;
	text-align:center;
	font-size:14px;
	margin-top:20px;
	font-weight:bold;
	}
.book_list1 ul li a:hover{
    text-decoration: none !important;
	}
.book_list1 ul li img.book_cover {
    -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07);
    display: block;
    height: 180px;
    width: 131px;
}
#content .all{
    width:610px;
	height:20px;
}
#content .book_list1 .more {
    color: #AEAEAE;
	float:right;
}
table, img {
    border: medium none;
}

.info_box .top {
    border-bottom: 1px solid #E2E2E2;
    padding: 15px 15px 10px;
    position: relative;
}
.info_box img.avatar {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}
.info_box .username {
    color: #7A7979;
    font-weight: bold;
}
.infoBox_numbers {
    color: #9F9F9F;
    margin: 5px 0 10px;
}
.infoBox_numbers_donate {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
    width:210px;
}
.infoBox_numbers_left{
    display: block;
    text-align: center;
    width: 70px;
	float:left;
}
.infoBox_numbers_number {
    color: #4C4C4C;
    display: inline-block;
    font-size: 20px;
    margin-top: 3px;
}

.infoBox_numbers_borrow {
    float: left;
    position: relative;
    width: 90px;
}
.info_box .config {
    position: absolute;
    right: 15px;
    top: 15px;
}


/*diary*/

.contentBox_nav {
    padding: 10px 15px;
    position: relative;
}

.brd-bottom {
    border-bottom: 1px solid #E5E5E5;
}

.contentBox_nav_bread {
    color: #8B8B8B;
    font-size: 14px;
}
.bookBox {
    padding: 15px;
    position: relative;
	height:180px;
}

.bookBox_cover {
    float: left;
    height: 180px;
    margin-right: 20px;
    width: 131px;
}

.bookBox_info {
    float: left;
    margin-bottom: 16px;
    padding-bottom: 10px;
    position: relative;
    width: 450px;
    z-index: 10;
}


div.content_box h3 {
    font-size: 14px;
    font-weight: bold;
}
.bookBox_info ul {
    color: #8A8587;
    line-height: 24px;
    width: 260px;
}

.bookBox_count {
    position: absolute;
    right: 15px;
    top: 15px;
}

.bookBox_count span {
    border-right: 1px solid #E0E0E0;
    color: #9F9F9F;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
    text-align: center;
    width: 50px;
}

.bookBox_count span label {
    color: #4C4C4C;
    display: inline-block;
    font-size: 20px;
    margin-top: 3px;
}

.bookBox_count span.end {
    border: medium none;
    margin-right: 0;
    padding-right: 0;
}
.diarylist{
    padding: 10px 15px;
    position: relative;
}

.diarylist li{
    height:34px;
    border-bottom:1px #E3E0D5 solid;
    margin-top:5px;
    width:630px;
    overflow: hidden;
    line-height:16px;
    color:#000 !important;
}
.diarylist li a{
    color:#227CA2 !important;
}

.diarylist li a:hover{
    color:#000 !important;
    text-decoration:none !important;
}
.diarylist .number{
    margin-top:2px;
    border-right:1px #E3E0D5 solid;
    width:60px;
    height:30px;
    float:left;
    font-size:14px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    line-height:30px;
}
.diarylist .number a{
    font-size:12px !important;color:#999 !important;float:right;padding-right:5px;font-weight:100 !important;
}


/*zhuce*/
form.profile p {
    color: #6F6F6F;
    line-height: 25px;
    margin-bottom: 20px;
    position: relative;
    font-size:14px;
}
form.profile label {
    color: #6F6F6F;
    cursor: pointer;
    float: left;
    line-height: 25px;
    text-align: right;
    width: 140px;
}


form.profile input.text {
    height: 25px;
    line-height: 25px;
    padding: 0 4px;
    width: 220px;
    font-size:14px;
}

form.profile input {
    border: 1px solid #E0E0E0;
}
#content .button {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 0 #FFFFFF;
    background: none repeat scroll 0 0 #3B8EDB;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    padding: 6px 20px;
}
#content form.profile .button:hover {
    background: none repeat scroll 0 0 #5DA1E1;
}
form.profile .nolabel {
    margin-left: 140px;
}

/*login*/
.login_main {
    border-right: 1px dotted #D4D4D4;
    color: #6F6F6F;
    float: left;
    margin: 25px 0 25px 35px;
    width: 530px;
}
.login_main h2 {
    color: #6F6F6F;
    font-size: 25px;
    margin-bottom: 30px;
}
form.profile label.nolabel {
    width: auto;
}

form.profile .nolabel {
    margin-left: 140px;
}
form.profile #forget_pw {
    line-height: 25px;
    margin-left: 106px;
}
.login_side {
    float: left;
    margin: 25px 0 25px 35px;
    padding-top: 45px;
}
.login_side a{
    font-size:14px;
}

.bookBox_info ul{margin-left:10px;}
.goumai{font-size:14px;cursor: pointer;}

/* Module {{{
-------------------*/
/* mod */
.mod {
    margin-bottom: 10px;
}
.mod h3 {
    font-size: 12px;
}
.mod h3 .title {
    float: left;
    padding-left: 15px;
}
.mod .content {
    /*padding: 5px;*/
}
/*}}}*/

/* Form {{{
-------------------*/
 /* labelForm */
 .labelForm dt,
 .labelForm dd {
    display: inline-block;
 }
 
.labelForm label,
.labelForm #op-label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 5px;
}


.sForm {
	color: #6F6F6F;
    font-size: 14px;
}
.sForm .element {
    margin-bottom: 20px;
}
.sForm label,
.sForm #op-label {
	 width: 90px;
}
.sForm .text {
    height: 25px;
    line-height: 25px;
    padding: 0 4px;
    width: 220px;
    border: 1px solid #E0E0E0;
}
.sForm input.error {
	border: 1px solid red;
}
.sForm span.error,
.sForm .errors {
	margin-left: 5px;
	display: inline-block;
	color: red;
}
.sForm span.valid {
	text-indent: -9000px;
	background: url("../images/icon_checked.gif") no-repeat;
	width: 14px;
}
/*}}}*/

/* diary page */
#diary {
	width: 744px;
	margin: 0 auto;
}
.diary_wrapper {
	background: #FFF;
	font-size: 14px; /* equals 1 */
	line-height: 24px; /* equals 2 */
	width: 700px;
	margin: 0 auto;
}
.diary_wrapper .text,
.diary_wrapper textarea {
	background: none;
	border: none;
}
.diary_wrapper .diary_container {
    margin: 0 auto;
    width: 572px;
    height: 815px;
	background: #FFF url("../images/bg_diary_line_24.gif") repeat-y;
    font-size: 14px;/* equals 1 */
    line-height: 24px; /* equals 2 */
    padding-top: 24px; /* equals 2 */
    overflow: hidden;
}
#diary_content {
}
.diary_header {
	position: relative;
	/*border-bottom: 1px solid #32cdfd;*/
	height: 80px;
}
.diary_header .title {
	background: #FFF url("../images/bg_diary_line_24.gif") no-repeat 0 bottom;
	margin: 0 64px;
	padding-top: 55px;
}
.diary_header .lastupdate {
	position: absolute;
	right: 9px;
	top: 6px;
	font-size: 12px;
	color: #555;
}
#diary_title {
	float: left;
	width: 200px;
    font-weight: bold;
    font-size: 16px;
}
.diary_weather {
	float: right;
	width: 88px;
}
#diary_weather {
    width: 50px;
    text-align: center;
}

.diary_body {
}
.diary_footer {
	height: 20px;
}

.toolbar {
	margin-left: 125px;
}
.toolbar .menu {
    background: none repeat scroll 0 0 #50514D;
    color: #FFFFFF;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin-bottom: 3px;
    text-align: center;
    width: 42px;
}

.redirectBox {
	padding: 50px;
	min-height: 100px;
	_height: 100px;
}
.redirectBox h2 {
	font-size: 14px;
	margin-bottom: 10px;
}

/* Debug {{{ 
-----------------*/
#wrapper,
#header,
#nav,
#content,
.search,
#footer,
.section,
.article,
.aside,
.toplink {
    /*border: 1px red solid*/;
}

#diary input,
#diary textarea {
	/*border: 1px solid #DDD*/;
}
/*}}}*/

